@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.landing{
    background-image: url(img/pokebola.png);
    background-size: 100%;
    height: 620px;
}
.titulo{
    width: 900px;
}



.btn{
position: relative;
left: 45%;
font-family: Koulen;
font-weight: 500;
font-size: 28px;
background-color: #fff;
color: #af0505;
padding: 10px 30px;
border: solid #000000 1px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1125ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
box-shadow: #0a2680 0 -6px 8px inset;
}

.btn:hover{

transition : 1125ms;
padding: 10px 64px;
transform : translateY(5px);
transform : translateX(-25px);
color: #fcf805;
background-color: #af0505;
border: solid 1px #bf0101;
box-shadow: #b47777 0 -6px 8px inset;
}

     